# Taxonomy

The purpose of this notebook is to join the table `train.csv` with a taxonomy table.

In [1]:
import pandas as pd
taxonomy = pd.read_csv("species.csv")
taxonomy.shape

(26, 8)

In [2]:
#taxonomy.sort_values(by = ['infraorder','family','genus','specy']).drop(columns = ['wikipedia','image','size']).set_index('specy_id')
taxonomy = taxonomy.sort_values(by = ['specy']).drop(columns = ['wikipedia','image','size']).set_index('specy_id')

In [3]:
taxonomy

,infraorder,family,genus,specy
specy_id,,,,
minke_whale,Cetacea,Balaenopteridae,Balaenoptera,B. acutorostrata
sei_whale,Cetacea,Balaenopteridae,Balaenoptera,B. borealis
brydes_whale,Cetacea,Balaenopteridae,Balaenoptera,B. brydei
blue_whale,Cetacea,Balaenopteridae,Balaenoptera,B. musculus
fin_whale,Cetacea,Balaenopteridae,Balaenoptera,B. physalus
commersons_dolphin,Cetacea,Delphinidae,Cephalorhynchus,C. commersonii
common_dolphin,Cetacea,Delphinidae,Delphinus,D. delphis
beluga,Cetacea,Monodontidae,Delphinapterus,D. leucas
southern_right_whale,Cetacea,Balaenidae,Eubalaena,E. australis
gray_whale,Cetacea,Balaenopteridae,Eschrichtius,E. robustus
pygmy_killer_whale,Cetacea,Delphinidae,Feresa,F. attenuata
short_finned_pilot_whale,Cetacea,Delphinidae,Globicephala,G. macrorhynchus
pilot_whale,Cetacea,Delphinidae,Globicephala,G. melas
white_sided_dolphin,Cetacea,Delphinidae,Lagenorhynchus,L. acutus
frasiers_dolphin,Cetacea,Delphinidae,Lagenodelphis,L. hosei
dusky_dolphin,Cetacea,Delphinidae,Lagenorhynchus,L. obscurus
humpback_whale,Cetacea,Balaenopteridae,Megaptera,M. novaeangliae
killer_whale,Cetacea,Delphinidae,Orcinus,O. orca
false_killer_whale,Cetacea,Delphinidae,Pseudorca,P. crassidens
melon_headed_whale,Cetacea,Delphinidae,Peponocephala,P. electra
pantropic_spotted_dolphin,Cetacea,Delphinidae,Stenella,S. attenuata
rough_toothed_dolphin,Cetacea,Delphinidae,Steno,S. bredanensis
spotted_dolphin,Cetacea,Delphinidae,Stenella,S. frontalis
spinner_dolphin,Cetacea,Delphinidae,Stenella,S. longirostris
bottlenose_dolphin,Cetacea,Delphinidae,tursiops,T. truncatus
cuviers_beaked_whale,Cetacea,Ziphiidae,Ziphius,Z. cavirostris

# Data Cleaning

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   specy_id    26 non-null     object
 1   infraorder  26 non-null     object
 2   family      26 non-null     object
 3   genus       26 non-null     object
 4   specy       26 non-null     object
 5   wikipedia   26 non-null     object
 6   image       26 non-null     object
 7   size        24 non-null     object
dtypes: object(8)
memory usage: 1.8+ KB

In [6]:
df.head(5)

,specy_id,infraorder,family,genus,specy,wikipedia,image,size
0,bottlenose_dolphin,Cetacea,Delphinidae,tursiops,T. truncatus,https://en.wikipedia.org/wiki/Bottlenose_dolphin,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...
1,beluga,Cetacea,Monodontidae,Delphinapterus,D. leucas,https://en.wikipedia.org/wiki/Beluga_whale,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...
2,humpback_whale,Cetacea,Balaenopteridae,Megaptera,M. novaeangliae,https://en.wikipedia.org/wiki/Humpback_whale,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...
3,blue_whale,Cetacea,Balaenopteridae,Balaenoptera,B. musculus,https://en.wikipedia.org/wiki/Blue_whale,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...
4,false_killer_whale,Cetacea,Delphinidae,Pseudorca,P. crassidens,https://en.wikipedia.org/wiki/False_killer_whale,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...

In [7]:
df.describe()

,specy_id,infraorder,family,genus,specy,wikipedia,image,size
count,26,26,26,26,26,26,26,24
unique,26,1,5,18,26,26,26,23
top,bottlenose_dolphin,Cetacea,Delphinidae,Balaenoptera,T. truncatus,https://en.wikipedia.org/wiki/Bottlenose_dolphin,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/commons...
freq,1,26,16,5,1,1,1,2

In [8]:
df.shape

(26, 8)

In [9]:
print(df.isnull().sum())

specy_id      0
infraorder    0
family        0
genus         0
specy         0
wikipedia     0
image         0
size          2
dtype: int64

In [13]:
# To know how data are related to each other
df.corr()

Empty DataFrame
Columns: []
Index: []